{% extends "content.j2" %}
{% from 'card_macros.j2' import viewing_card %}
{% from 'people_macros.j2' import person_macro %}
{% from 'action_macros.j2' import action_card %}
{% block innards %}
  {% call viewing_card(prefix="Person: ", label=person.name, purpose='target') %}
    {{ person_macro(**person) }}
  {% endcall %}
  {{ action_card(person.name, actions) }}
{% endblock %}
