{% extends "content.j2" %}
{% from 'button_macros.j2' import render_link_button %}
{% from 'card_macros.j2' import old_render_card %}
{% from 'people_macros.j2' import person_macro %}
{% block innards %}
  {% call old_render_card(title=person.name) %}
    {{ person_macro(**person) }}
  {% endcall %}
{% endblock %}
