<!DOCTYPE html>
{% from 'bootstrap5/form.html' import render_form %}
<html lang="en">
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Wahinipa Cupboard Tracker {% block title %}{{ flavor }}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {{ bootstrap.load_css() }}
    <style>
        pre {
            background: #ddd;
            padding: 10px;
        }

        h2 {
            margin-top: 20px;
        }

        footer {
            margin: 20px;
        }
    </style>
  {% endblock %}
</head>
<body>
<main class="container-fluid">
  <div class="row">
    {% block header %}
      <div class="col-md-2">
        <div class="card flex-row flex-wrap">
          <div class="card-header border-0">
            <img width="104" height="32" src="{{ url_for('static', filename='logo.png') }}">
          </div>
          <div class="card-body">Wahinipa Cupboard Tracker</div>
        </div>
      </div>
      {% block header_middle %}{% endblock %}
      <div class="col-md-2">
        <div class="card">
          {% if current_user.is_authenticated %}
            <div class="card-header">
              Logged in as {{ current_user.username }}
            </div>
            <div class="card-body bg-secondary">
              <a class="btn-md btn-primary" href="{{ url_for('people_bp.logout') }}" role="button"><span
                  class="badge bg-primary">Sign Out</span></a>
              <a class="btn-md btn-primary" href="{{ url_for('people_bp.change_password') }}" role="button"><span
                  class="badge bg-primary">Change Password</span></a>
              <a class="btn-md btn-primary" href="{{ url_for('people_bp.profile') }}" role="button"><span
                  class="badge bg-primary">Change User Profile</span></a>
            </div>
          {% else %}
            <div class="card-body bg-warning text-center">
              Not logged in.
            </div>
          {% endif %}
        </div>
      </div>
    {% endblock %}
  </div>
  {% block innards %}
  {% endblock %}
  <div class="row">
    {% block footer %}
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body"><small> &copy; 2021–
            <script>document.write(new Date().getFullYear())</script>
            Wahinipa LLC, all rights reserved.
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
</main>
{{ bootstrap.load_js() }}
{% block extra_js %}
{% endblock %}
</body>
</html>
