{% from 'button_macros.j2' import
render_expansion_button %}
{% macro render_description(model, level=4) %}
  {% if model.description_lines %}
    <h{{ level }}>Description:</h{{ level }}>
    <p>
      {% for line in model.description_lines %}
        {{ line }}<br/>
      {% endfor %}
    </p>
  {% endif %}
{% endmacro %}


{% macro render_card(title, link=None, background='dark') %}
  <div class="row mt-2">
    <div class="col-md-12">
      <div class="card border-{{ background }}">
        <div class="card-header text-white bg-{{ background }}">
          {% if link %}
            <a href="{{ link }}" class="text-white">{{ title }}</a>
          {% else %}
            <h4>{{ title }}</h4>
          {% endif %}
        </div>
        <div class="card-body">
          {{ caller() }}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

