{% from 'button_macros.j2' import render_create_button, render_update_button, render_delete_button %}

{% macro viewing_card(prefix=None, label=None, view_url=None, purpose=None) %}
  {% if purpose == 'target' %}
    {% set background = 'dark' %}
  {% elif purpose == 'action' %}
    {% set background = 'primary' %}
  {% else %}
    {% set background = 'secondary' %}
  {% endif %}
  <div class="row mt-2">
    <div class="col-md-12">
      <div class="card border-{{ background }}">
        <div class="card-header text-white bg-{{ background }}">
          {% if view_url %}
            {% if prefix %}{{ prefix }}{% endif %}<a href="{{ view_url }}" class="text-white">{{ label }}</a>
          {% else %}
            <h4>{% if prefix %}{{ prefix }}{% endif %}{{ label }}</h4>
          {% endif %}
        </div>
        <div class="card-body">
          {{ caller() }}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro render_parent(classification=None, label=None, children=None, lines=None, actions=None) %}
  {% if False %}{{ kwargs }}{% endif %}
  {% call target_card(classification, label) %}
    {% if lines %}
      <p>
        {% for line in lines %}
          {{ line }}<br>
        {% endfor %}
      </p>
    {% endif %}
  {% endcall %}
  {% if children %}
    {% for child in children %}
      {{ child_card(**child) }}
    {% endfor %}
  {% endif %}
  {% if actions %}
    {{ action_card(label=label, actions=actions) }}
  {% endif %}
{% endmacro %}

{% macro target_card(classification=None, label=None) %}
{% if False %}{{ kwargs }}{% endif %}
{% set content %}
{% if caller %}{{ caller() }}{% endif %}
{% endset %}
{% call viewing_card(prefix=classification + ": ", label=label, purpose='target') %}
  {{ content }}
{% endcall %}
{% endmacro %}

{% macro child_card(classification=None, label=None, lines=None, view_url=None) %}
  {% if False %}{{ kwargs }}{% endif %}
  {% call viewing_card(prefix=classification + ": ", label=label, view_url=view_url) %}
    {% if lines %}
      <p>
        {% for line in lines %}
          {{ line }}<br>
        {% endfor %}
      </p>
    {% endif %}
  {% endcall %}
{% endmacro %}

{% macro action_card(label, actions) %}
  {% if actions %}
    {% call viewing_card(prefix="Actions on ", label=label, purpose='action') %}
      {% for action in actions %}
        {{ action_link(**action) }}
      {% endfor %}
    {% endcall %}
  {% endif %}
{% endmacro %}

{% macro action_link(url=None, label=None, task=None) %}
  {% if task == 'create' %}
    {{ render_create_button(text=label, link=url) }}
  {% elif task == 'update' %}
    {{ render_update_button(text=label, link=url) }}
  {% elif task == 'delete' %}
    {{ render_delete_button(text=label, link=url) }}
  {% endif %}
{% endmacro %}
