{% from 'button_macros.j2' import render_create_button, render_delete_button, render_update_button %}
{% macro category_macro(choices=None) %}
  <p>
    {{ category_content(**kwargs) }}
    {{ category_choice_content(choices) }}
  </p>
{% endmacro %}

{% macro category_content(name, lines, choices=None) %}
  {% if False %}{{ kwargs }}{% endif %}
  {% if name %}<b>Name of Category:</b> {{ name }}<br>{% endif %}
  {% if lines %}<b>Description:</b><br>{% for line in lines %}{{ line }}<br>{% endfor %}{% endif %}
{% endmacro %}

{% macro category_choice_content(choices=None) %}
  {% if choices %}
    <b>Choices:</b><br>
    {% for choice in choices %}
      <i>{{ choice.name }}</i>
      {% if choice.lines %}
        {% for line in choice.lines %}
          - {{ line }}<br>
        {% endfor %}
      {% else %}
        <br>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}
