{% from 'common_macros.j2' import text_link %}
{% from 'button_macros.j2' import render_create_button, render_delete_button, render_update_button %}
{% macro category_macro() %}
  <p>
    {{ category_content(**kwargs) }}
  </p>
{% endmacro %}

{% macro category_content(name, lines, update_url=None, deletion_url=None, create_place_url=None) %}
  {% if False %}{{ kwargs }}{% endif %}
  {% if name %}<b>Name of Category:</b> {{ name }}<br>{% endif %}
  {% if lines %}<b>Description:</b><br>{% for line in lines %}{{ line }}<br>{% endfor %}{% endif %}
  {% if create_choice_url %}{{ render_create_button(link=create_choice_url, text='Choice') }}{% endif %}
  {% if update_url %}{{ render_update_button(link=update_url, text='Category') }}{% endif %}
  {% if deletion_url %}{{ render_delete_button(link=deletion_url, text='Category') }}{% endif %}
{% endmacro %}
