{% extends "website.j2" %}
{% from 'content_macros.j2' import
admin_database_edit_nav_item,
groups_nav_items,
places_nav_items,
home_nav_item,
people_nav_items,
things_nav_items %}

{% block header %}
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-content"
            aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav-pills" id="nav-content">
      <ul class="navbar-nav nav-tabs">
        {{ home_nav_item() }}
        {{ admin_database_edit_nav_item(current_user) }}
        {{ groups_nav_items(current_user) }}
        {{ places_nav_items(current_user) }}
        {{ people_nav_items(current_user) }}
        {{ things_nav_items(current_user) }}
      </ul>
    </div>
  </nav>
{% endblock %}
