{% from 'common_macros.j2' import text_link %}
{% from 'button_macros.j2' import render_create_button, render_delete_button, render_update_button %}
{% macro group_macro(places=None) %}
  <p>
    {{ group_content(**kwargs) }}
    {{ group_place_content(places) }}
  </p>
{% endmacro %}

{% macro group_content(name, lines, update_url=None, deletion_url=None, create_place_url=None) %}
  {% if False %}{{ kwargs }}{% endif %}
  {% if name %}<b>Name of Group:</b> {{ name }}<br>{% endif %}
  {% if lines %}<b>Description:</b><br>{% for line in lines %}{{ line }}<br>{% endfor %}{% endif %}
{% endmacro %}

{% macro group_place_content(places=None) %}
  {% if places %}
    <b>Places:</b><br>
    {% for place in places %}
      <i>{{ place.name }}</i>
      {% if place.lines %}
        {% for line in place.lines %}
          - {{ line }}<br>
        {% endfor %}
      {% else %}
        <br>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}
