{% from 'common_macros.j2' import text_link %}
{% from 'button_macros.j2' import render_create_button, render_delete_button, render_update_button %}
{% macro group_macro() %}
  <p>
    {{ group_content(**kwargs) }}
  </p>
{% endmacro %}

{% macro group_content(name, lines, update_url=None, deletion_url=None, create_place_url=None) %}
  {% if False %}{{ kwargs }}{% endif %}
  {% if name %}<b>Name of Group:</b> {{ name }}<br>{% endif %}
  {% if lines %}<b>Description:</b><br>{% for line in lines %}{{ line }}<br>{% endfor %}{% endif %}
  {% if create_place_url %}{{ render_create_button(link=create_place_url, text='Place') }}{% endif %}
  {% if update_url %}{{ render_update_button(link=update_url, text='Group') }}{% endif %}
  {% if deletion_url %}{{ render_delete_button(link=deletion_url, text='Group') }}{% endif %}
{% endmacro %}
