{% extends "content.j2" %}
{% from 'button_macros.j2' import render_link_button %}
{% from 'card_macros.j2' import render_top_card, render_secondary_card %}
{% block innards %}
  {% call render_top_card(category='Home', target=current_user, has_owner=False) %}
    <p>
      <large>{{ current_user.about_me }}</large>
    </p>
  {% endcall %}
  {% call render_secondary_card(title='Handy Resources') %}
  {% endcall %}
{% endblock %}