{% from 'button_macros.html' import
render_expansion_button %}
{% macro render_description(model, level=4) %}
  {% if model.description_lines %}
    <h{{ level }}>Description:</h{{ level }}>
    <p>
      {% for line in model.description_lines %}
        {{ line }}<br/>
      {% endfor %}
    </p>
  {% endif %}
{% endmacro %}

{% macro render_train_modeling(modeling_gauge) %}
  {% call render_expansion_button('train_modeling', modeling_gauge.name) %}
    <p>Scale is {{ modeling_gauge.scale.name }}.<br/>Ratio is {{ modeling_gauge.scale.ratio }}
      : 1
    </p>
    <p>Gauge is {{ modeling_gauge.gauge.name }}.<br/>
      The prototype track width is {{ modeling_gauge.gauge.width }} inches.<br/>
      The modeling track width is {{ modeling_gauge.mm_track_width }} millimeters.
    </p>
  {% endcall %}
{% endmacro %}

{% macro render_rolling_stock_analysis(analysis) %}
  {% call render_expansion_button(analysis.unique_id, 'Statistics') %}
    <p>
      Count: {{ analysis.count }}<br/>
      Average Weight: {{ analysis.average_weight_grams | round(2) | string }} grams or
      {{ analysis.average_weight_ounces | round(2) | string }} ounces<br/>
      Total Weight: {{ analysis.total_weight_grams | round(2) | string }} grams or
      {{ analysis.total_pounds }} pounds {{ analysis.total_ounces_remaining | round(2) | string }} ounces<br/>
      Length: total={{ analysis.total_length | round(2) | string }}'
      average={{ analysis.average_length | round(2) | string }}'<br/>
      Price: total=${{ analysis.total_price | round(2) | string }}
      average=${{ analysis.average_price | round(2) | string }}<br/>
    </p>
  {% endcall %}
{% endmacro %}

{% macro render_flag_mark(flag_mark) %}
  {% call render_expansion_button(flag_mark.field_name, flag_mark.name) %}
    <p>{{ flag_mark.details }}</p>
  {% endcall %}
{% endmacro %}

{% macro render_spot(spot) %}
  {% call render_expansion_button(spot.field_name, spot.name) %}
    <p>{{ spot.description }}</p>
  {% endcall %}
{% endmacro %}


{% macro render_owner_name_or_link(collection) %}
  {% if collection.owner.is_user %}
    {{ collection.owner.name }}
  {% else %}
    <a href="{{ url_for('club_bp.club_show', club_id=collection.owner.club.id) }}">{{ collection.owner.name }}</a>
  {% endif %}
{% endmacro %}

{% macro render_name(target, has_owner) %}
  {% if has_owner %}
    {{ target.name }} owned by {{ render_owner_name_or_link(target) }}
  {% else %}
    {{ target.name }}
  {% endif %}
{% endmacro %}

{% macro render_top_card(category, target, has_owner=False) %}
  <div class="row mt-2">
    <div class="col-md-12">
      <div class="card border-dark">
        <div class="card-header text-white bg-dark">
          <h3>{{ category }}: {{ render_name(target, has_owner) }}</h3>
        </div>
        <div class="card-body">
          {{ caller() }}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}


{% macro render_secondary_card(title, link=None) %}
  <div class="row mt-2">
    <div class="col-md-12">
      <div class="card border-secondary">
        <div class="card-header text-white bg-secondary">
          {% if link %}
            <a href="{{ link }}" class="text-white">{{ title }}</a>
          {% else %}
            <h4>{{ title }}</h4>
          {% endif %}
        </div>
        <div class="card-body">
          {{ caller() }}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro render_rolling_stock_list(identity, rolling_stock_list, analysis) %}
  {% if analysis and analysis.count > 0 %}
    {{ render_rolling_stock_analysis(analysis) }}
    {% call render_expansion_button(identity, 'Show List') %}
      {% for rolling_stock in rolling_stock_list %}
        <h6><a
            href="{{ url_for('rolling_stock_bp.rolling_stock_show', rolling_stock_id=rolling_stock.id) }}">{{ rolling_stock.name }}</a>
          {{ rolling_stock.short_description }}
        </h6>
      {% endfor %}
    {% endcall %}
  {% endif %}
{% endmacro %}

{% macro render_flag_mark_content(flag_mark) %}
  <p>{{ flag_mark.details }}</p>
  {% if flag_mark.flagged_count > 0 %}
    <h6>Flagged Rolling Stock:</h6>
    {{ render_rolling_stock_list(flag_mark.unique_id, flag_mark.rolling_stock_list, flag_mark.analysis) }}
  {% endif %}
  {% if flag_mark.unflagged_count > 0 %}
    <h6>Unflagged Rolling Stock:</h6>
    {{ render_rolling_stock_list('un_' + flag_mark.unique_id, flag_mark.unflagged_rolling_stock_list, flag_mark.anti_analysis) }}
  {% endif %}
{% endmacro %}

{% macro render_rolling_stock_custom_field_content(custom_field) %}
  <p>{{ custom_field.details }}</p>
{% endmacro %}

{% macro render_spot_content(spot) %}
    <h4><a
        href="{{ url_for('spot_bp.spot_show', id=spot.id) }}">{{ spot.name }}</a>
      {{ spot.customer }}
      at {{ spot.branch }}:{{ spot.milepost }}
      ({{ spot.description }})
    </h4>
{% endmacro %}

{% macro render_schedule_content(schedule) %}
    <h4><a
        href="{{ url_for('schedule_bp.schedule_show', id=schedule.id) }}">{{ schedule.name }}</a>
      {{ schedule.description }}
    </h4>
{% endmacro %}

