{% from 'common_macros.j2' import text_link %}
{% macro person_macro() %}
  <p>
    {{ person_content(**kwargs) }}
  </p>
{% endmacro %}

{% macro person_content(name, about_me) %}
  {% if False %}{{ kwargs }}{% endif %}
  {% if name %}{{ name }}<br>{% endif %}
  {% if about_me %}About: {{ about_me }}<br>{% endif %}
{% endmacro %}
