{% from 'common_macros.j2' import text_link %}
{% from 'button_macros.j2' import render_delete_button, render_update_button %}
{% macro place_macro() %}
  <p>
    {{ place_content(**kwargs) }}
  </p>
{% endmacro %}

{% macro place_content(name, lines, group_name=None, group_url=None) %}
  {% if False %}{{ kwargs }}{% endif %}
  {% if group_name %}
    <b>Group: </b>{% if group_url %}<a href="{{ group_url }}">{% endif %}{{ group_name }}{% if group_url %}</a>{% endif %}<br>
  {% endif %}
  {% if name %}<b>Place:</b> {{ name }}<br>{% endif %}
  {% if lines %}<b>Description:</b><br>{% for line in lines %}{{ line }}<br>{% endfor %}{% endif %}
  {% if update_url %}{{ render_update_button(link=update_url, text='Place') }}{% endif %}
  {% if deletion_url %}{{ render_delete_button(link=deletion_url, text='Place') }}{% endif %}
{% endmacro %}
