{% from 'card_macros.j2' import viewing_card %}
{% macro place_macro() %}
  <p>
    {{ place_content(**kwargs) }}
  </p>
{% endmacro %}

{% macro place_content(name, lines, group_name=None, group_url=None) %}
  {% if False %}{{ kwargs }}{% endif %}
  {% if group_name %}
    <b>Group: </b>{% if group_url %}<a href="{{ group_url }}">{% endif %}{{ group_name }}{% if group_url %}</a>{% endif %}<br>
  {% endif %}
  {% if name %}<b>Place:</b> {{ name }}<br>{% endif %}
  {% if lines %}<b>Description:</b><br>{% for line in lines %}{{ line }}<br>{% endfor %}{% endif %}
{% endmacro %}

{% macro place_listing(places) %}
  {% for place in places %}
    {% call viewing_card(prefix="Place: ", label=place.name, view_url=place.url) %}
      {{ place_macro(**place) }}
    {% endcall %}
  {% endfor %}
{% endmacro %}