pre {
    background: #ddd;
    padding: 10px;
}

h2 {
    margin-top: 20px;
}

footer {
    margin: 20px;
}

.bg-warning {
    color: black;
}

#action_check_button {
    display: none;
}

#action_show_place .action_show_container {
    display: none;
}

#action_check_button:checked ~ #action_show_place .action_show_container {
    display: block;
}

