{% extends "content.j2" %}
{% from 'button_macros.j2' import render_link_button %}
{% from 'card_macros.j2' import render_card %}
{% from 'group_macros.j2' import group_macro %}
{% from 'place_macros.j2' import place_macro %}
{% from 'action_macros.j2' import action_card %}
{% block innards %}
  {% call render_card(title=name) %}
    {{ group_macro(**group) }}
  {% endcall %}
  {% for place in group.places %}
    {% call render_card(title=place.name, link=place.url, background='secondary') %}
      {{ place_macro(**place) }}
    {% endcall %}
  {% endfor %}
  {{ action_card(name, actions) }}
{% endblock %}
