{% extends "content.j2" %}
{% from 'button_macros.j2' import render_create_button %}
{% from 'card_macros.j2' import viewing_card %}
{% from 'group_macros.j2' import group_macro %}
{% from 'action_macros.j2' import action_card %}
{% block innards %}
  {% call viewing_card(label='Groups', purpose='target') %}
    <h3>Groups have Places which have Things</h3>
  {% endcall %}
  {% for group in groups %}
    {% call viewing_card(prefix="Group: ", label=group.name, view_url=group.url) %}
      {{ group_macro(**group) }}
    {% endcall %}
  {% endfor %}
  {{ action_card("Groups", actions) }}
{% endblock %}
