{% from 'cardistry/buttons.j2' import button_task %}

{% macro card_tasks(label, tasks, prefix="Actions on ") %}
  {% if False %}{{ kwargs }}{% endif %}
  {% if tasks %}
    <div class="action_show_container" >
      {% call card_view(prefix=prefix, label=label, purpose='tasks') %}
        <div class="row">
        {% for task in tasks %}
          <div class="col-md-4">
            {{ button_task(column_width=None, **task) }}
          </div>
        {% endfor %}
        </div>
      {% endcall %}
    </div>
  {% endif %}
{% endmacro %}

{% macro card_target(prefix=None, label=None, flavor=None, url=None, bread_crumb_list=None, notations=None) %}
{% if False %}{{ kwargs }}{% endif %}
{% set card_content %}
{% if caller %}{{ caller() }}{% endif %}
{% endset %}
{% call card_view(prefix=prefix, flavor=flavor, label=label, url=url, purpose="target", bread_crumb_list=bread_crumb_list) %}
  {% if notations %}
    {{ render_notations(notations) }}
  {% endif %}
  {{ card_content }}
{% endcall %}
{% endmacro %}

{% macro card_view(prefix=None, label=None, include_actions=True, flavor=None, url=None, purpose=None, bread_crumb_list=None) %}
  {% if False %}{{ kwargs }}{% endif %}
  {% if purpose == 'target' %}
    {% set background = 'dark' %}
  {% elif purpose == 'tasks' %}
    {% set background = 'primary' %}
  {% else %}
    {% set background = 'secondary' %}
  {% endif %}
  <div class="card border-{{ background }}">
    <div class="card-header text-white bg-{{ background }}">
      {% if url %}
        {% if prefix %}{{ prefix }}{% endif %}<a href="{{ url }}" class="text-white">{{ label }}</a>
      {% endif %}
      {% if bread_crumb_list %}
        {{ render_bread_crumbs(bread_crumb_list) }}
      {% else %}
        <h4>{% if prefix %}{{ prefix }}{% endif %}{{ label }}</h4>
      {% endif %}
    </div>
    <div class="card-body">
      {{ caller() }}
    </div>
  </div>
{% endmacro %}

{% macro card_child(classification=None, label=None, include_actions=True, flavor=None, notations=None, purpose=None, url=None, bread_crumb_list=None) %}
  {% if False %}{{ kwargs }}{% endif %}
  {% call card_view(prefix=classification + ": ", label=label, include_actions=include_actions, flavor=flavor, url=url, purpose=purpose, bread_crumb_list=bread_crumb_list) %}
    {{ render_notations(notations) }}
  {% endcall %}
{% endmacro %}

{% macro render_notations(notations=None) %}
  {% if notations %}
    {% for notation in notations %}
      {{ render_notation(**notation) }}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro render_notation(label=None, url=None, value=None, tag=None, lines=None) %}
  {% if label %}<b>{{ label }}: </b>{% endif %}
  {% if tag %}<i>{{ tag }} - </i>{% endif %}
  {% if url %}<a href="{{ url }}">{% endif %}
{% if value %}{{ value }}{% endif %}
{% if label or value or tag %}<br>{% endif %}
{% if url %}</a>{% endif %}
  {% if lines %}{% for line in lines %}{{ line }}<br>{% endfor %}{% endif %}
{% endmacro %}

{% macro render_bread_crumbs(bread_crumb_list=None) %}
  {% if bread_crumb_list %}
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        {% for crumb in bread_crumb_list %}
          {{ bread_crumb_item(**crumb) }}
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
{% endmacro %}

{% macro bread_crumb_item(label, url=None) %}
  <li class="breadcrumb-item">
    {% if url %}<a href="{{ url }}">{% endif %}{{ label }}{% if url %}</a>{% endif %}
  </li>
{% endmacro %}

{% macro action_block(label=None, tasks=None) %}
  {% if tasks %}
    <div class="row">
      <div class="col-md-12">
        {{ card_tasks(label=label, tasks=tasks, flavor=flavor) }}
      </div>
    </div>
  {% endif %}
{% endmacro %}

{% macro show_action_button(label="Show Actions") %}
  <label class="action-toggle" for="action_check_button"><span
      class="badge bg-primary">{{ label }}</span></label>
{% endmacro %}

{% macro sequential_child_cards(children, include_actions=False) %}
  {% if children %}
    {% for child in children %}
      <div class="row mt-2">
        <div class="col-md-12">
          {{ card_child(include_actions=include_actions, **child) }}
        </div>
      </div>
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro paired_child_cards(children) %}
  {% if children %}
    <div class="row mt-2">
      {% for child in children %}
        <div class="col-md-6">
          <div class="row mt-2">
            <div class="col-md-12">
              {{ card_child(**child) }}
            </div>
          </div>
          <div class="row mt">
            <div class="col-md-12">
              {{ action_block(label=child.label, tasks=child.tasks) }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

{% macro target_block(label=None, flavor=None, url=None, bread_crumb_list=None, notations=None) %}
  {% if False %}{{ kwargs }}{% endif %}
  <div class="row mt-2">
    <div class="col-md-12">
      {% call card_target(label=label, flavor=flavor, url=url, bread_crumb_list=bread_crumb_list, notations=notations) %}
      {% endcall %}
    </div>
  </div>
{% endmacro %}