{% from 'cardistry/buttons.j2' import button_task %}

{% macro card_tasks(label, tasks, prefix="Actions on ", column_width="12", is_row=True) %}
  {% if False %}{{ kwargs }}{% endif %}
  {% if tasks %}
    <input type="checkbox" id="action_check_button">
    <div class="action_show_card" id="action_show_place">
      {% call card_view(prefix=prefix, label=label, purpose='tasks'
    , column_width=column_width, is_row=is_row) %}
        {% for task in tasks %}
          <div class="col-md-2">
            {{ button_task(column_width=None, **task) }}
          </div>
        {% endfor %}
      {% endcall %}
    </div>
  {% endif %}
{% endmacro %}

{% macro card_target(prefix=None, label=None, url=None, column_width="6", is_row=False, bread_crumb_list=None, notations=None) %}
{% if False %}{{ kwargs }}{% endif %}
{% set card_content %}
{% if caller %}{{ caller() }}{% endif %}
{% endset %}
{% call card_view(prefix=prefix, label=label, url=url, purpose="target", column_width=column_width, is_row=is_row, bread_crumb_list=bread_crumb_list) %}
  {% if notations %}
    {{ render_notations(notations) }}
  {% endif %}
  {{ card_content }}
{% endcall %}
{% endmacro %}

{% macro card_view(prefix=None, label=None, url=None, purpose=None, column_width="6", is_row=False, bread_crumb_list=None) %}
  {% if False %}{{ kwargs }}{% endif %}
  {% if purpose == 'target' %}
    {% set background = 'dark' %}
  {% elif purpose == 'tasks' %}
    {% set background = 'primary' %}
  {% else %}
    {% set background = 'secondary' %}
  {% endif %}
  {% if is_row %}
    <div class="row mt-2">{% endif %}
{% if column_width %}
  <div class="col-md-{{ column_width }}">{% endif %}
<div class="card border-{{ background }}">
  <div class="card-header text-white bg-{{ background }}">
    {% if url %}
      {% if prefix %}{{ prefix }}{% endif %}<a href="{{ url }}" class="text-white">{{ label }}</a>
    {% endif %}
    {% if bread_crumb_list %}
      {{ render_bread_crumbs(bread_crumb_list) }}
    {% else %}
      <h4>{% if prefix %}{{ prefix }}{% endif %}{{ label }}</h4>
    {% endif %}
  </div>
  <div class="card-body">
    {{ caller() }}
  </div>
</div>
{% if column_width %}</div>{% endif %}
{% if is_row %}</div>{% endif %}
{% endmacro %}

{% macro card_child(classification=None, label=None, notations=None, purpose=None, url=None, column_width="6", is_row=True, bread_crumb_list=None) %}
  {% if False %}{{ kwargs }}{% endif %}
  {% call card_view(prefix=classification + ": ", label=label, url=url, purpose=purpose, column_width=column_width, is_row=is_row, bread_crumb_list=bread_crumb_list) %}
    {{ render_notations(notations) }}
  {% endcall %}
{% endmacro %}

{% macro render_notations(notations=None) %}
  {% if notations %}
    {% for notation in notations %}
      {{ render_notation(**notation) }}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro render_notation(label=None, url=None, value=None, tag=None, lines=None) %}
  {% if label %}<b>{{ label }}: </b>{% endif %}
  {% if tag %}<i>{{ tag }} - </i>{% endif %}
  {% if url %}<a href="{{ url }}">{% endif %}
{% if value %}{{ value }}{% endif %}
{% if label or value or tag %}<br>{% endif %}
{% if url %}</a>{% endif %}
  {% if lines %}{% for line in lines %}{{ line }}<br>{% endfor %}{% endif %}
{% endmacro %}

{% macro render_bread_crumbs(bread_crumb_list=None) %}
  {% if bread_crumb_list %}
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        {% for crumb in bread_crumb_list %}
          {{ bread_crumb_item(**crumb) }}
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
{% endmacro %}

{% macro bread_crumb_item(label, url=None) %}
  <li class="breadcrumb-item">
    {% if url %}<a href="{{ url }}">{% endif %}{{ label }}{% if url %}</a>{% endif %}
  </li>
{% endmacro %}


