{% macro tree_root(nodes) %}
  <script>
      var treeData = {{ tree_node_list(nodes) }};

      $('#tree').bstreeview({
          data: treeData,
          expandIcon: 'fa fa-folder-open',
          collapseIcon: 'fa fa-folder',
          indent: 2,
          parentsMarginLeft: '1.25rem',
          openNodeLinkOnNewTab: false,
      });
  </script>
{% endmacro %}

{% macro tree_node_list(nodes) %}
  [
  {% for node in nodes %}
    {{ tree_node(node) }},
  {% endfor %}
  ]
{% endmacro %}

{% macro tree_node(node) %}
  {
  {% if node.text %}text: "{{ node.text }}",{% endif %}
  {% if node.url %}href: "{{ node.url }}",{% endif %}
  {% if node.url %}class: "bg-info",{% endif %}
  {% if node.nodes %}
    nodes: {{ tree_node_list(node.nodes) }}
  {% endif %}
  }
{% endmacro %}
