:root {
    --flavor-admin-color: rgb(0, 0, 0);
    --flavor-categories-color: rgb(150, 10, 150);
    --flavor-category-color: rgb(100, 10, 100);
    --flavor-choice-color: rgb(60, 10, 60);
    --flavor-home-color: rgb(100, 100, 100);
    --flavor-inventory-color: rgb(100, 100, 100);
    --flavor-people-color: rgb(10, 90, 90);
    --flavor-place-color: rgb(50, 10, 100);
    --flavor-root-color: rgb(100, 50, 50);
    --flavor-specification-color: rgb(200, 100, 10);
    --flavor-tasks-color: rgb(10, 53, 253);
    --flavor-thing-color: rgb(20, 100, 20);
    --flavor-welcome-color: rgb(255, 255, 255);
}

pre {
    background: #ddd;
    padding: 10px;
}


h2 {
    margin-top: 20px;
}

footer {
    margin: 20px;
}

.bg-warning {
    color: black;
}

/* *** Navigation Pill Button Styling */
.pill_button {
    border-width: thick;
}
/* *** Action Button Styling *** */

#action_check_button {
    display: none;
}

#action_show_place .action_show_container {
    display: none;
}

#action_check_button:checked ~ #action_show_place .action_show_container {
    display: block;
}

/* *** Admin Styling *** */

.btn-flavor-admin {
    border-color: black;
    color: black;
    background-color: white;
}

.btn-flavor-admin.active {
    color: white;
    background-color: black;
}

/* *** Categories Styling *** */

.card-flavor-categories {
    border-color: black;
}

.card-flavor-categories .card-header {
    border-color: black;
    color: white;
    background-color: var(--flavor-categories-color);
}

.btn-flavor-categories {
    border-color: var(--flavor-categories-color);
    color: black;
    background-color: white;
}

.btn-flavor-categories.active {
    color: white;
    background-color: var(--flavor-categories-color);
}

.card-flavor-categories .card-header a {
    color: white;
}

/* *** Category Styling *** */

.card-flavor-category {
    border-color: black;
}

.card-flavor-category .card-header {
    border-color: black;
    color: white;
    background-color: var(--flavor-category-color);
}

.btn-flavor-category {
    border-color: var(--flavor-category-color);
    color: black;
    background-color: white;
}

.btn-flavor-category.active {
    color: white;
    background-color: var(--flavor-category-color);
}

.card-flavor-category .card-header a {
    color: white;
}

/* *** Choice Styling *** */

.card-flavor-choice {
    border-color: black;
}

.card-flavor-choice .card-header {
    border-color: black;
    color: white;
    background-color: var(--flavor-choice-color);
}

.btn-flavor-choice {
    border-color: var(--flavor-choice-color);
    color: black;
    background-color: white;
}

.btn-flavor-choice.active {
    color: white;
    background-color: var(--flavor-choice-color);
}

.card-flavor-choice .card-header a {
    color: white;
}

/* *** Home Styling *** */

.card-flavor-home {
    border-color: black;
}

.card-flavor-home .card-header {
    border-color: black;
    color: white;
    background-color: var(--flavor-home-color);
}

.btn-flavor-home {
    border-color: var(--flavor-home-color);
    color: black;
    background-color: white;
}

.btn-flavor-home.active {
    color: white;
    background-color: var(--flavor-home-color);
}

/* *** Inventory Styling *** */

.card-flavor-inventory {
    border-color: black;
}

.card-flavor-inventory .card-header {
    border-color: black;
    color: white;
    background-color: var(--flavor-inventory-color);
}

.btn-flavor-inventory {
    border-color: var(--flavor-inventory-color);
    color: black;
    background-color: white;
}

.btn-flavor-inventory.active {
    color: white;
    background-color: var(--flavor-inventory-color);
}

/* *** People Styling *** */

.card-flavor-people {
    border-color: black;
}

.card-flavor-people .card-header a {
    color: white;
}

.card-flavor-people .card-header {
    border-color: black;
    color: white;
    background-color: var(--flavor-people-color);
}

.btn-flavor-people {
    border-color: var(--flavor-people-color);
    color: black;
    background-color: white;
}

.btn-flavor-people.active {
    color: white;
    background-color: var(--flavor-people-color);
}

/* *** Place Styling *** */

.btn-flavor-place {
    border-color: var(--flavor-place-color);
    color: black;
    background-color: white;
}

.btn-flavor-place.active {
    color: white;
    background-color: var(--flavor-place-color);
}


.card-flavor-place {
    border-color: black;
}

.card-flavor-place .card-header a {
    color: white;
}

.card-flavor-place .card-header {
    border-color: black;
    color: white;
    background-color: var(--flavor-place-color);
}

/* *** Root Styling *** */

.card-flavor-root {
    border-color: black;
}

.card-flavor-root .card-header {
    border-color: black;
    color: white;
    background-color: var(--flavor-root-color);
}

.card-flavor-root .card-header a {
    color: white;
}

/* *** Specification Styling *** */

.btn-flavor-specification {
    border-color: var(--flavor-specification-color);
    color: black;
    background-color: white;
}

.btn-flavor-specification.active {
    color: white;
    background-color: var(--flavor-specification-color);
}


.card-flavor-specification {
    border-color: black;
}

.card-flavor-specification .card-header a {
    color: white;
}

.card-flavor-specification .card-header {
    border-color: black;
    color: white;
    background-color: var(--flavor-specification-color);
}

/* *** Task Styling *** */

.card-flavor-tasks {
    border-color: black;
}

.card-flavor-tasks .card-header {
    border-color: black;
    color: white;
    background-color: var(--flavor-tasks-color);
}

.card-flavor-tasks .card-header a {
    color: white;
}

/* *** Thing Styling *** */

.card-flavor-thing {
    border-color: black;
}

.card-flavor-thing .card-header {
    border-color: black;
    color: white;
    background-color: var(--flavor-thing-color);
}

.card-flavor-thing .card-header a {
    color: white;
}

.card-flavor-welcome {
    border-color: black;
}

/* *** Welcome Styling *** */

.card-flavor-welcome .card-header {
    border-color: black;
    color: black;
    background-color: var(--flavor-welcome-color);
}

.card-flavor-welcome .card-header a {
    color: black;
}

