{% extends "pages/content.j2" %}
{% from 'macros/cards.j2' import row_of_child_cards, action_block, target_block %}
{% block innards %}
  {{ target_block(label=label, flavor=flavor, url=url, bread_crumb_list=bread_crumb_list, notations=notations, tasks=tasks) }}
  {{ row_of_child_cards(children) }}
{% endblock %}
