{% extends "pages/website.j2" %}
{% from 'old/content_macros.j2' import
admin_database_edit_nav_item,
home_nav_item %}
{% from 'old/tree_macros.j2' import tree_root %}

{% block header %}
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-content"
            aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav-pills" id="nav-content">
      <ul class="navbar-nav nav-tabs">
        {{ home_nav_item() }}
        {{ admin_database_edit_nav_item(current_user) }}
      </ul>
    </div>
  </nav>
{% endblock %}
