{% extends "pages/website.j2" %}
{% from 'macros/top_menu_macros.j2' import top_menu %}
{% from "macros/button_macros.j2" import show_action_button %}
{% block central_header %}
  <div class="card card-flavor-welcome">
    <div class="card-header">
      <h2>Welcome</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          {{ top_menu(current_activity, top_menu_items) }}
        </div>
      </div>
      <div class="row">
        {% if has_tasks %}
          {{ show_action_button() }}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
