{% extends "pages/content.j2" %}
{% from 'macros/cards.j2' import target_block, action_block, column_of_child_cards %}
{% block innards %}
  {{ target_block(label=label, flavor=flavor, url=url, bread_crumb_list=bread_crumb_list, notations=notations, tasks=tasks) }}
  {{ column_of_child_cards(children) }}
{% endblock %}

