{% extends "pages/content.j2" %}
{% from 'cardistry/cards.j2' import target_block, action_block, sequential_child_cards %}
{% block innards %}
  {{ target_block(label=label, flavor=flavor, url=url, bread_crumb_list=bread_crumb_list, notations=notations) }}
  {{ action_block(label=label, tasks=tasks, flavor=flavor) }}
  {{ sequential_child_cards(children) }}
{% endblock %}
