{% extends "pages/website.j2" %}
{% block central_header %}
  <div class="card card-flavor-welcome">
    <div class="card-header">
      <h2>Welcome</h2>
    </div>
    <div class="card-body">
      <h4>Please sign in.</h4>
    </div>
  </div>
{% endblock %}
{% block innards %}
  <div class="col-md-3 mx-auto">
    <div class="card">
      {{ render_form(form) }}
    </div>
  </div>
{% endblock %}
