{% extends "pages/content.j2" %}
{% from 'macros/target_block_macros.j2' import target_block %}

{% block innards %}
  {{ target_block(label=label, flavor=flavor, url=url, bread_crumb_list=bread_crumb_list, notations=notations, tasks=tasks) }}
{% endblock %}
