{% extends "pages/content.j2" %}
{% from 'cardistry/cards.j2' import show_action_button, target_block, action_block, paired_child_cards %}
{% block bottom_header %}
 {% if has_tasks %}
    {{ show_action_button() }}
  {% endif %}
{% endblock %}
{% block innards %}
  {{ target_block(label=label, flavor=flavor, url=url, bread_crumb_list=bread_crumb_list, notations=notations, tasks=tasks) }}
{% endblock %}
