{% extends "pages/content.j2" %}
{% from 'macros/target_block_macros.j2' import card_target %}
{% from 'macros/card_macros.j2' import card_child %}
{% block innards %}
  <div class="row mt-2">
    <div class="col-md-4">
      <div class="row mt-2">
        <div class="col-md-12">
          {% call card_child(label=label, flavor=flavor, url=url, bread_crumb_list=bread_crumb_list, notations=notations, tasks=tasks) %}
          {% endcall %}
        </div>
      </div>
    </div>
    {% for child in children %}
      <div class="col-md-4">
        <div class="row mt-2">
          <div class="col-md-12">
            {{ card_child(**child) }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
