{% extends "pages/content.j2" %}
{% from 'macros/cards.j2' import target_block, row_of_varying_width_child_cards, column_of_child_cards %}
{% block innards %}
  {{ row_of_varying_width_child_cards(children[0:2], [6, 6]) }}
  {{ row_of_varying_width_child_cards(children[2:], [4, 8]) }}
{% endblock %}

