{% extends "pages/content.j2" %}
{% from 'cardistry/cards.j2' import card_view, card_child, card_target, card_tasks %}
{% block innards %}
  {% call card_target(label=label, purpose='target', url=url, is_row=True, column_width="12", bread_crumb_list=bread_crumb_list, notations=notations) %}
  {% endcall %}
  {% if tasks %}
    {{ card_tasks(label=label, tasks=tasks) }}
  {% endif %}
{% endblock %}
