<!DOCTYPE html>
{% from 'bootstrap5/form.html' import render_form %}
{% from 'macros/website_macros.j2' import
user_options,
website_footer,
website_logo %}
<html lang="en">
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <!-- Required Stylesheets -->
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bstreeview.min.css') }}" rel="stylesheet">

    <!-- Required Javascript -->
    <script src="{{ url_for('static', filename='jquery-3.6.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bstreeview.min.js') }}"></script>
    {{ bootstrap.load_css() }}
    <style>
      {% include 'css/website_style.css' %}
    </style>
  {% endblock %}
  {% block head_extra %}
  {% endblock %}
</head>
<body>
<main class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      {{ website_logo(project_name) }}
    </div>
    <div class="col-md-8 text-center">
      <div class="card card-flavor-welcome">
        <div class="card-header">
          {% block top_title %}Welcome{% endblock %}
        </div>
        <div class="card-body">
          <div class="row">
            {% block top_header %}{% endblock %}
          </div>
          <div class="row">
            {% block bottom_header %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      {{ user_options(current_user) }}
    </div>
  </div>
  <input type="checkbox" id="action_check_button">
  <div id="action_show_place">
    {% block innards %}{% endblock %}
  </div>
  <div class="row">
    {{ website_footer() }}
  </div>
</main>
{% block extra_js %}{% endblock %}
</body>
</html>
