{% macro render_bread_crumbs(bread_crumb_list=None) %}
  {% if bread_crumb_list %}
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        {% for crumb in bread_crumb_list %}
          {{ bread_crumb_item(**crumb) }}
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
{% endmacro %}

{% macro bread_crumb_item(label, url=None) %}
  {% if url %}
    <li class="breadcrumb-item">
      <a href="{{ url }}">{{ label }}</a>
    </li>
  {% else %}
    <li class="breadcrumb-item h4">
      {{ label }}
    </li>
  {% endif %}
{% endmacro %}

