{% macro button_task(url, task, label, column_width="2") %}
  {% if False %}{{ kwargs }}{% endif %}
  {% if task == 'create' %}
    {{ button_action(url=url, prefix='Create New ', label=label, column_width=column_width) }}
  {% elif task == 'add' %}
    {{ button_action(url=url, prefix='Add ', label=label, column_width=column_width, button_color='warning') }}
  {% elif task == 'delete' %}
    {{ button_action(url=url, prefix='DELETE ', label=label, column_width=column_width, button_color='danger'
    , on_submit="return confirm('Are you sure you wish to delete?');") }}
  {% elif task == 'remove' %}
    {{ button_action(url=url, prefix='Remove ', label=label, column_width=column_width, button_color='warning' ) }}
  {% elif task == 'duplicate' %}
    {{ button_action(url=url, prefix='Duplicate ', label=label, column_width=column_width) }}
  {% elif task == 'update' %}
    {{ button_action(url=url, prefix='Update ', label=label, column_width=column_width, button_color='warning') }}
  {% endif %}
{% endmacro %}

{% macro button_action(url, prefix='', label='', button_color='primary', on_submit=None, column_width=None) %}
  {% if False %}{{ kwargs }}{% endif %}
  <form action="{{ url }}"
      {% if column_width %} class="col-md-{{ column_width }}"{% endif %}
      {% if on_submit %} onSubmit="{{ on_submit }}"{% endif %}
  >
    <button class="btn-sm btn-{{ button_color }}" type="submit">{{ prefix }}{{ label }}</button>
  </form>
{% endmacro %}
