
{% macro home_nav_item() %}
  {{ render_pill('root_bp.root_list', 'Home', True) }}
{% endmacro %}

{% macro admin_database_edit_nav_item(current_user) %}
  {% if current_user.may_edit_database %}
    {{ render_pill('admin.index', 'Admin') }}
  {% endif %}
{% endmacro %}

{% macro render_pill(endpoint, label, active=False) %}
  <li class="nav-item">
    <a href="{{ url_for(endpoint) }}" class="nav-link{% if active %} active{% endif %}">{{ label }}</a>
  </li>
{% endmacro %}

