{% macro website_footer() %}
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body"><small> &copy; 2021–
        <script>document.write(new Date().getFullYear())</script>
        Wahinipa LLC, all rights reserved.</small>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
{% endmacro %}

{% macro website_logo(project_name) %}
  <div class="card flex-row flex-wrap">
    <div class="card-header border-0">
      {{ project_name }}
    </div>
    <div class="card-body">
      <img width="104" height="32" src="{{ url_for('static', filename='logo.png') }}">
    </div>
  </div>
{% endmacro %}

