{% extends "content.j2" %}
{% from 'card_macros.j2' import viewing_card %}
{% from 'category_macros.j2' import category_macro %}
{% from 'card_macros.j2' import action_card %}
{% block innards %}
  {% call viewing_card(label='Categories', purpose='target') %}
    <h3>Categories are lists of Choices for being more specific about Things</h3>
  {% endcall %}
  {% for category in categories %}
    {% call viewing_card(prefix="Category: ", label=category.name, view_url=category.url) %}
      {{ category_macro(**category) }}
    {% endcall %}
  {% endfor %}
  {{ action_card("Categories", actions) }}
{% endblock %}
