{% extends "content.j2" %}
{% from 'card_macros.j2' import viewing_card %}
{% from 'category_macros.j2' import category_content %}
{% from 'choice_macros.j2' import choice_macro %}
{% from 'action_macros.j2' import action_card %}
{% block innards %}
  {% call viewing_card(prefix="Category: ", label=name, purpose='target') %}
    {{ category_content(**category) }}
  {% endcall %}
  {% if category.choices %}
    {% for choice in category.choices %}
      {% call viewing_card(prefix="Choice: ", label=choice.name, view_url=choice.url) %}
        {{ choice_macro(**choice) }}
      {% endcall %}
    {% endfor %}
  {% endif %}
  {{ action_card(name, actions) }}
{% endblock %}
