{% extends "content.j2" %}
{% from 'card_macros.j2' import viewing_card %}
{% from 'place_macros.j2' import place_macro %}
{% from 'card_macros.j2' import action_card %}
{% block innards %}
  {% call viewing_card(prefix="Place: ", label=name, purpose='target') %}
    {{ place_macro(**place) }}
  {% endcall %}
  {{ action_card(name, actions) }}
{% endblock %}
