{% extends "content.j2" %}
{% from 'card_macros.j2' import viewing_card %}
{% from 'choice_macros.j2' import choice_macro %}
{% from 'action_macros.j2' import action_card %}
{% block innards %}
  {% call viewing_card(prefix="Choice: ", label=name, purpose='target') %}
    {{ choice_macro(**choice) }}
  {% endcall %}
  {{ action_card(name, actions) }}
{% endblock %}
